# Created by https://www.toptal.com/developers/gitignore/api/executable,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=executable,windows

### Executable ###
*.app
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf
*.obj
*.tds

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### Visual Studio Code ###
# Ignorar toda la carpeta de configuración local de VS Code
.vscode/

# Ignorar el historial local de VS Code
.history/


### Visual Studio ###
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# End of https://www.toptal.com/developers/gitignore/api/executable,windows